* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
}
body {

  font-size: 24px;
}


.middle-section {
  background-image: url(images/bg-curve-desktop.svg);
  background-size: cover;
  background-position: center;
}

header img {
  float:left;
  margin-left:75px;
  margin-top: 55px;
  margin-bottom:55px;

}
header li {
  float:right;
  list-style-type: none;
  margin-left:60px;
}


header ul {
  margin-right:75px;
  margin-top:60px;
  overflow: auto;
  float:right;
}

header {
  overflow: auto;
}

.clear {
  clear:both;
}

.top-container {
  margin-top:35px;
  margin-left:75px;
  margin-right:75px;
  margin-bottom:155px;
  overflow: auto;

}

.introduce {
  padding-top:90px;
  width:50%;
  display: inline-block;
  font-size: 1.4rem;

}
.introduce h1,p {
  padding-bottom : 20px;
}

.illustration-1 {
  float:right;
  width:50%;
}

.illustration-2 {
  float:right;
  width:38%;
  margin-right:80px;
  margin-top:40px;
}

.email-store {
  width:50%;
  font-size: 1.4rem;
  padding:10px;
  margin-right:5px;
}

.submit-store {
  width:34%;
  font-size: 1.4rem;
  padding:10px 25px 10px 25px;
  background-color: hsl(224, 93%, 58%);
  border-radius:10px;
  color:white;
}

.middle-container {
  margin: 0 75px 0 75px;
  overflow: auto;
  padding-top:175px;
  padding-bottom: 105px;
}
.middle-wrapper {
  display: inline-block;
  width: 55%;
  font-size: 1.4rem;
}

.choose-us h1 {
  padding-bottom:20px;
}

.choose-us p {
  width:700px;
}

.link {
  color:hsl(170, 45%, 43%);
  text-decoration: none;
  padding-bottom:5px;
  border-bottom:1px solid hsl(170, 45%, 43%);
}

.quote {
  margin-top:30px;
  margin-left: 5px;
  padding:30px 30px;
  width:460px;
  line-height: 1.5;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  overflow: auto;
}

.avatar {
  float:left;
  border-radius: 50%;
  width:60px;
  margin-right:10px;
}

.user p {
  padding-top:5px;
  padding-bottom:0;
  font-size: 1.1rem;
 }

 .lower-section {
   background-color: hsl(238, 22%, 44%);
   padding-top:115px;
   padding-left: 75px;
   padding-bottom:90px;
 }

.early-access {
  width:650px;
  color:white;
  display: inline-block;
}

.early-access h1 {
  padding-bottom:20px;
}

.form-free {
  display: inline-block;
  position: relative;
  bottom:50px;
  left:300px;
  width:485px;
}

.email-free {
  width:465px;
  padding:10px;
  margin-bottom:10px;
}
.submit-free {
  width:180px;
  color:white;
  padding:10px 15px;
  border-radius: 5px;
  background-color: hsl(224, 93%, 58%);
}

@media(min-width:1920px) and (max-width:1920px) {
  .introduce {
    font-size: 2rem;
  }
  .middle-container {
    font-size: 1rem;
  }
}
